<h1>Account Summary</h1>
<div> 
  <h3>Awards Given</h3>
  <table> 
    <thead> 
      <th>Recipient</th> 
      <th>Email</th>
      <th>Award Type</th>
      <th>Created At</th> 
    </thead>
    <tbody> 
    {{#each awards}} 
      <tr> 
        <td>{{this.recipient}} 
        <td>{{this.email}} 
        <td>{{this.type_name}} 
        <td>{{this.createdAt}} 
    {{/each}} 
    </tbody>
  </table>
</div>
<br>
<div> 
  <h3>Award Stats</h3>
  <table> 
    <thead> 
      <th>Award Type</th> 
      <th>Number Given</th> 
    </thead>
    <tbody> 
    {{#each awardStats}} 
      <tr> 
        <td>{{this.type_name}} 
        <td>{{this.type_count}}  
    {{/each}} 
    </tbody>
  </table>
</div>
<br>
<a href="/adminDashboard">Admin Dashboard</a>
