<!-- CREDIT: https://getbootstrap.com/docs/4.1/examples/dashboard/ -->
<!-- HTML for navbar and sidebar borrowed from relevant elements in example at above link -->

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Admin Dashboard</a>
  <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link active" href="/logout">Log Out</a> 
      </li>
  </ul>
</nav>
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item"> 
            <a class="nav-link" href="/adminDashboard">Admin Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/manageReg">Manage Regular Users</a>
          </li>
		  <li class="nav-item">
            <a class="nav-link active" href="/adminChangeSig">Change Regular User Signatures</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/manageAdmin">Manage Admin Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/awardHistory">Business Intelligence Operations</a>
          </li>
        </ul>
      </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <br>
<h2>Regular Users</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm"> 
          <thead> 
              <th>Full Name</th> 
              <th>Signature File Name</th>
              <th>Signature Created At</th>
              <th>Signature Updated At</th> 
              <th>Change Signature</th>
          </thead>
          <tbody> 
          {{#each regUsers}}
            <form class="form-inline" enctype="multipart/form-data" method="POST" action="/changeSignature"> 
                <tr>
				  <td hidden>
                    <input type="text" name="signature_id" value="{{this.signature_id}}"></input>
                  <td>{{this.full_name}}
				   <td>
                    <input type="text" name="signature_name" value="{{this.signature_name}}" required></input>
                  <td>{{this.createdAt}}
                  <td>{{this.updatedAt}}  
				  <td>
						<input type="file" name="imgUploader" required/>
						<input type="submit" name="action" id="btnSubmit" value="Change" /> 
				  </td>
            </form>
          {{/each}} 
          </tbody>
        </table>
      </div> 
	  <br>
	  {{#if error}}
	  <h5>{{error}}</h5>
	  {{else}}
	  {{/if}}
    </main>
  </div>
</div>
